{% extends "base.html" %}

{% block title %}
    Delete blog
{% endblock title %}

{% block content %}
    {% if user.is_authenticated %}
        {% if user.id == post.author.id %}
            <h1>Delete Post</h1>
            <br><br>
            <h3>Delete: {{post.title}}</h3>

            <div class="form-gruop">
                <form action="" method='post'>
                    {% csrf_token %}
                    <strong>Are you sure?!</strong>
                    <button type='submit' class='btn btn-secondary' >Yes</button>
                </form>
            </div>
        {% else %}
            <h3>sorry you can't be here!</h3>
        {% endif %}
        
    {% else %}
        you're not allowed here!
    {% endif %}

{% endblock content %}